{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-console": ["error", { allow: ["log", "warn", "error"] }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
  },
  "env": {
    "node": true
  },
  "globals": {
    "document": true
  }
}
